"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 37
        green: 134
        blue: 219
        alpha: 1
      accentColor:
        red: 245
        green: 54
        blue: 35
        alpha: 1
      genAccent: true
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui: {}
  "autoclose-html":
    forceBlock: [
      "head"
      "div"
      "ul"
    ]
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "span"
      "li"
    ]
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
      "background-tips"
      "autocomplete-plus"
      "atom-html-preview"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-numix-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "aafdc6a2-d4a6-f9f9-b97e-6ce9b526584a"
  "meteor-helper": {}
  pigments:
    markerType: "dot"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
